<link rel = "stylesheet" href="/css/project_details.css">


<div id = "container" class="container">
    
  <div class="inner-row-1">

    <div id = "project-detail" >
      <h1>Details Of The Project </h1>
        <h1><%= project.ProjectName%></h1>
        <p><%= project.discription %><span> (Done By)------------  <b><%= project.author %></b></span></p>
        
    </div>
  
  
    <div id = "form-of-issues" >
      <form action="/issues/create-issue" method="post" >
  
        <div class="sm-12 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title For Issues" name = "title" required>
        </div>
        
        <div class="sm-12 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Author</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Author name" name = "author" required>
        </div>
        
        <div class="sm-12 mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="discription" required></textarea>
        </div>
        <input type = "hidden" name = "projectid" value="<%=project._id%>">
        <button type="submit" class="mb-5 btn btn-primary col-4" >submit</button>
    
      </form>
    </div>

  </div>

  
  <div class="inner-row-1" style="justify-content: space-around;">

    <div class="list-group" id = "group-of-lists">
    
      <% for(issue of project.issues){ %>
        <a  class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= issue.title %></h5>
            <small class="text-muted"><%= issue.updatedAt %></small>
          </div>
          <p class="mb-1"><%= issue.discription %></p>
          <small class="text-muted">issue created by <b>- <%= issue.author %></b> </small>
        </a>
      <% } %>
      
    </div>


    <% if(project.issues.length > 0 ){ %>
      <div id = "search-form" >
        <form id = "project-search" method="post" action="/project/search-project">
          <select class="form-select" aria-label="Default select example" name = "type">
            <option selected>Open this to select title or discription to search </option>
            <option value="title">title </option>
            <option value="discription">Discription</option>      
            <option value="author">Author</option>      
          </select>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="type here to search" name = "search" required>
          <input type = "hidden" name = "projectid" value="<%=project._id%>">
          <button type="submit" class="mb-5 btn btn-primary col-3" >submit</button>
        </form>
      </div>
    <% } %> 
    

  </div>
    
</div>