<link rel = "stylesheet" href="/css/project_details.css">


<div id = "container" class="container">
    
  <div class="inner-row-1">

    <div id = "project-detail" >
      <h1 style="text-decoration: underline; text-align: center;"><%= project.ProjectName%>'s Project details </h1>
      <h6 style="text-align:end; margin-top: 20px;"> (created by <%= project.author %>) </h6>
        
      <p><b style="color: black;">Discription : </b><%= project.discription %></p>
        
    </div>   
    
  
    <div id = "form-of-issues" >
      <h4 style="margin-bottom:20px; margin-top: 10px;">Publish any issue here <i class="fa-sharp fa-solid fa-triangle-exclamation" style="color: red;"></i></h4>
      <form action="/issues/create-issue" method="post" >
  
        <div class="sm-12 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title For Issues" name = "title" required>
        </div>
        
        <div class="sm-12 mb-3">
          <label for="exampleFormControlInput1" class="form-label">Author</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Author name" name = "author" required>
        </div>
        
        <div class="sm-12 mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Discription</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="discription" required></textarea>
        </div>
        <input type = "hidden" name = "projectid" value="<%=project._id%>">
        <button type="submit" class="mb-4 btn btn-primary col-4" >create</button>
    
      </form>
    </div>

  </div>

  
  <div class="inner-row-1" id = "ir2">

    <div class="list-group" id = "group-of-lists">
      <h4><i class="fa-solid fa-list-ol"></i> &nbsp; List of issues  </h4>
      <% for(issue of project.issues){ %>
        <a  class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= issue.title %></h5>
            <small class="text-muted bg-warning" style="padding:3px; border-radius:0.5rem;">pending</small>
          </div>
          <p class="mb-1"><%= issue.discription %></p>
          <small class="text-muted">issue created by <b>- <%= issue.author %></b> </small>
        </a>
      <% } %>
      <% if(project.issues.length == 0){ %>
        <h3 style="text-align: center; margin-top: 20px;"> <i class="fa-sharp fa-solid fa-file-excel"></i> No results !!!</h3>
      <% }%>
      
    </div>    

    <% if(project.issues.length > 0 ){ %>
      <div id = "search-form" >
        <h4 style="margin-bottom:20px; margin-top: 10px;">Search any issue here <i class="fa-solid fa-magnifying-glass"></i></h4>
        <form id = "project-search" method="post" action="/project/search-project">
          <select class="form-select mb-3" aria-label="Default select example" name = "type">
            <option selected>Click here to select title or discription to search </option>
            <option value="title">title </option>
            <option value="discription">Discription</option>      
            <option value="author">Author</option>      
          </select>
          <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="type here to search" name = "search" required>
          <input type = "hidden" name = "projectid" value="<%=project._id%>">
          <button type="submit" class="mb-3 btn btn-primary col-3" >search</button>
        </form>
      </div>
    <% } %>
    
    

  </div>
    
</div>